.details-page {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.details-container {
  max-width: 500px;
  width: 100%;
}

.details__top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 1rem;
}

.details__info-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 1rem;
}

.details__image {
  width: 160px;
  height: 240px;
  margin-right: 1rem;
  background-color: var(--gray);
}
